@import '../../../styles';

.projectTitle {
  font-size: 1.6em;
  color: @antazoeyGreen;
}

.projectTitle:hover {
  text-shadow: 0 0 0 @antazoeyGreen, 0 0 0 @antazoeyGreen, 0 0 0 @antazoeyGreen,
    0 0 0 @antazoeyGreen;
}
