.title-app-button {
  background-color: black;
  border: black;
  color: white;
  font-family: 'Caveat', cursive;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

.app-button {
  background-color: black;
  border: black;
  color: whitesmoke;
  font-size: 0.84em;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}

.app-button:hover {
  color: transparent;
  text-shadow: 0 -0.25em 0 #66ff99, 0 -0.25em 0 #66ff99, 0 -0.25em 0 #66ff99,
    0 -0.25em 0 #66ff99;
}

.app-button-no-effect {
  background-color: black;
  border: black;
  color: whitesmoke;
  font-size: 0.84em;
  cursor: pointer;
  outline: 0;
}
