.resume {
}

.resumeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 9rem;
    min-width: 7rem;
    background-color: transparent;
    color: #66FF99;
    font-size: 78%;
    border-color: #66FF99;
    border-radius: 0.95rem;
    margin-bottom: 1.24rem;
}

.resumeButton:hover {
    border: black;
    color: black;
    cursor: pointer;
}
