@import (reference) '../../styles';

#navigation {
  letter-spacing: 2px;
  font-style: @nerdFont;
}

#navigationItem {
  transition: 0.3s ease;
  font-style: @nerdFont;
  .clickable();
}

#number {
  color: @juliyaRed;
}
