.navBar {
  letter-spacing: 2px;
}

.navItem {
  background-color: black;
  border: black;
  color: whitesmoke;
  font-size: 0.84em;
  cursor: pointer;
  outline: 0;
}

.navItem:hover {
  color: black;
}
