.title-app-button {
  background-color: black;
  border: black;
  color: whitesmoke;
  font-size: 0.84em;
  cursor: pointer;
  outline: 0;
}

.app-button {
  background-color: black;
  border: black;
  color: whitesmoke;
  font-size: 0.84em;
  cursor: pointer;
  outline: 0;
  text-shadow: -0.015em -0.0125em 0 #990066, 0.0125em -0.0125em 0 #990066,
    -0.015em 0.0125em 0 #990066, 0.0125em 0.0125em 0 #990066;
}

.app-button:hover {
  color: transparent;
  text-shadow: 0 -0.25em 0 #66FF99, 0 -0.25em 0 #66FF99,
    0 -0.25em 0 #66FF99, 0 -0.25em 0 #66FF99;
}
