
body {
  background-color: black;
}

.center {
  width: 50%;
  margin: auto;
}

.nerdFont {
  color: whitesmoke;
  font-family: 'IBM Plex Mono', monospace;
}

a {
  color: whitesmoke;
  font-family: 'IBM Plex Mono', monospace;
  text-decoration: none;
}

a:hover {
  color: black;
}

button {
  color: black;
}

.juliya-red {
  color: #990066;
}

.juliya-blue {
  color: #66FF99;
}

