
body {
  background-color: black;
}

.center {
  width: 50%;
  margin: auto;
}

.nerdFont {
  color: black;
  font-family: 'IBM Plex Mono', monospace;
}

.juliya-red {
  color: #990066;
}

.juliya-blue {
  color: #66FF99;
}
