/*  ** Global Variables ** */

@juliyaRed: #990066;
@juliyaGreen: #66ff99;
@nerdFont: 'IBM Plex Mono', monospace;

/*  ** Customizations ** */

body {
  background-color: black;
  max-width: 100ch;
  margin: auto;
}

a {
  color: @juliyaGreen;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

hr {
  color: whitesmoke;
  max-width: 70ch;
}

/* ** Mixins ** */

.hidden {
  opacity: 0;
}

.allText {
  transition: 0.65s ease;
  font-family: @nerdFont;
  text-align: center;
  margin-top: 0.5em;
}

.contentText {
  font-size: 1.2em;
  color: whitesmoke;
  .allText();
}

.clickable {
  cursor: pointer;
  outline: 0;
}

.highlighted {
  color: transparent;
  text-shadow: 0 -0.25em 0 @juliyaGreen, 0 -0.25em 0 @juliyaGreen,
    0 -0.25em 0 @juliyaGreen, 0 -0.25em 0 @juliyaGreen;
}

.contentLink {
  color: @juliyaGreen;
}

.contentLink:hover {
  .highlighted();
}

.icon {
  height: 1.25em;
  padding: 0.25em;
}
